@charset "utf-8";

@import "./variables";
.btn-primary {
    border: 0px !important;
    background: #0DB983 !important;
    box-shadow: none !important;
}
.mint-cell-text {
    font-family: PingFang-SC-Regular;
    font-size: 16px !important;
    color: #444444 !important;
    letter-spacing: 0.12px;
}
.no-data-img {
    width: 230px !important;
    height: auto !important;
    margin-bottom: 8px;
}
