/** media start **/
$media: screen;
$media-max-width: max-width;
$max-width-320: 320px;
$max-width-375: 375px;
$max-width-414: 414px;
$max-width-768: 768px;
$max-width-992: 992px;

$media-min-width: min-width;
$min-width-320: 320px;
$min-width-375: 375px;
$min-width-414: 414px;
/** media end ---------------------------------------   **/

/** majiabao-speed-panda base **/
$base-color: #FF9506;
/** majiabao base end -------------------------------  **/